<article class="mb-6">
  <div class="mb-1">
    <% if hackathon.logo.attached? %>
      <%= image_tag hackathon.logo.variant(:small), class: "mr-2 w-8 align-middle" %>
    <% end %>
    <h3 class="m-0 inline-block align-middle">
      <%= link_to hackathon.name, hackathon.website %>
    </h3>
    <%= local_assigns[:subtitle] %>
  </div>

  <div>
    <p class="m-0">
      <%= hackathon.start_date.to_fs(:long_ordinal) %>
      <span style="font-weight: lighter; font-size: 0.9rem;">
        (<%= time_ago_in_words hackathon.starts_at %> from now)
      </span>
    </p>

    <%= yield %>

    <p class="my-1">
      <%= link_to hackathon.website, hackathon.website %>
    </p>
  </div>
</article>
