<% content_for :greeting do %>
  <p>Howdy HCB team 👋</p>
<% end %>

<p>
  <%= @sent_digests.count %> <%= "subscriber".pluralize(@sent_digests.count) %> were notified
  for <%= @listed_hackathons.count %> <%= "hackathon".pluralize(@listed_hackathons.count) %>.
</p>

<div class="mt-8">
  <% @listed_hackathons.each do |hackathon| %>

    <% subtitle = capture do %>
      <span style="vertical-align: middle; margin-left: 1rem; color: white; background-color: #8492a6; border-radius: 1rem; padding: 0.25rem 0.5rem; font-size: 0.75rem;">
        <% count = @sent_digests_by_hackathons[hackathon].count %>
        <%= count %> <%= "subscriber".pluralize(count) %> notified
      </span>
    <% end %>

    <%= render "hackathon", hackathon:, subtitle: do %>
      <p class="my-1">
        <%= hackathon.general_location %>
      </p>
    <% end %>
  <% end %>
</div>

<% content_for :signature do %>
  <p>
    keep on hackin'! 🦕💸
  </p>
<% end %>
