<%= link_to admin_hackathon_path(hackathon), style: "text-decoration: none;" do %>
  <%= turbo_stream_from hackathon %>

  <article id="<%= dom_id(hackathon) %>" class="hackathon-snippet card interactive">
    <div class="hackathon-snippet__header">
      <h2 class="hackathon-snippet__title headline"><%= hackathon.name %></h2>
      <span class="hackathon-snippet__status outline-badge hackathon--<%= hackathon.status %>">
        <%= hackathon.status.humanize %>
      </span>

      <span style="flex-grow: 1;"></span>

      <span class="hackathon-snippet__created-at">submitted <%= local_time_ago(hackathon.created_at) %></span>
    </div>

    <div class="hackathon-snippet__description">
      <% if hackathon.logo.attached? %>
        <%= image_tag hackathon.logo.variant(:small), class: "hackathon-snippet__logo" %>
      <% end %>

      <div class="hackathon-snippet__times">
        <span>Starts</span>
        <span><%= time_tag(hackathon.starts_at, format: "%B %d, %Y at %l:%M %p") %></span>
        <span>Ends</span>
        <span><%= time_tag(hackathon.ends_at, format: "%B %d, %Y at %l:%M %p") %> (UTC)</span>
      </div>
    </div>
  </article>
<% end %>
