<%= form_with model: @hackathon, url: hackathons_submissions_path, class: "push--top" do |form| %>
  <div>
    <%= form.label :name, "Hackathon Name" %>
    <%= form.text_field :name, required: true, placeholder: "Assemble" %>
  </div>

  <div>
    <%= form.label :website %>
    <%= form.text_field :website, required: true, placeholder: "assemble.hackclub.com" %>
  </div>

  <div>
    <%= form.fields_for :applicant do |applicant_fields| %>
      <%= applicant_fields.label :email_address %>

      <% if Current.user %>
        <%= applicant_fields.email_field :email_address, value: Current.user.email_address, disabled: true %>
      <% else %>
        <%= applicant_fields.email_field :email_address, required: true %>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form.label :logo %>
    <%= form.file_field :logo %>
  </div>

  <div>
    <%= form.label :banner %>
    <%= form.file_field :banner %>
  </div>

  <div>
    <%= form.label :starts_at, "Start date" %>
    <%= form.date_field :starts_at, required: true %>
  </div>

  <div>
    <%= form.label :ends_at, "End date" %>
    <%= form.date_field :ends_at, required: true %>
  </div>

  <div>
    <%= form.label :address, "Location" %>
    <%= form.text_field :address, required: true, placeholder: "760 Market St, San Francisco, CA" %>
  </div>

  <div>
    <%= form.label :expected_attendees %>
    <%= form.number_field :expected_attendees, required: true %>
  </div>

  <div class="push--top">
    <%= form.check_box :offers_financial_assistance %>
    <%= form.label :offers_financial_assistance, "Does your hackathon offer financial assistance?" %>
  </div>

  <div data-controller="form--visibility" class="notice">
    <div>
      <%= form.check_box :requested_swag, data: {"form--visibility-target": "checkbox", "action": "change->form--visibility#toggle"} %>
      <%= form.label :requested_swag, "Would you like an envelope of stickers & postcards mailed to your address?" %>
    </div>

    <div data-form--visibility-target="element" style="display: none;" class="push--top">
      <%= form.fields_for :swag_mailing_address do |mailing_address_form| %>
        <%= render "mailing_addresses/fields", form: mailing_address_form %>
      <% end %>
    </div>
  </div>

  <%= form.button "Submit for Review" %>
<% end %>
