<%= form_with model: @hackathon, url: hackathons_submissions_path, class: "push--top" do |form| %>
  <div>
    <%= form.label :name, "Hackathon Name" %>
    <%= form.text_field :name, required: true, placeholder: "Epoch" %>
  </div>

  <div>
    <%= form.label :website %>
    <%= form.text_field :website, required: true, placeholder: "epoch.hackclub.com" %>
  </div>

  <div>
    <%= form.label :logo %>
    <%= form.file_field :logo %>
  </div>

  <div>
    <%= form.label :banner %>
    <%= form.file_field :banner %>
  </div>

  <div>
    <%= form.label :start_date %>
    <%= form.date_field :starts_at, required: true %>
  </div>

  <div>
    <%= form.label :end_date %>
    <%= form.date_field :ends_at, required: true %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.text_field :address, required: true, placeholder: "15 Falls Rd, Shelburne VT" %>
  </div>

  <div>
    <%= form.label :expected_attendees %>
    <%= form.number_field :expected_attendees, required: true %>
  </div>

  <div data-controller="form--visibility" class="notice">
    <div>
      <%= check_box_tag nil, nil, false, id: "hackathon_requested_swag", data: {"form--visibility-target": "input", "action": "change->form--visibility#toggle"} %>
      <%= label_tag "hackathon_requested_swag", "Would you like an envelope of stickers & postcards mailed to your address?" %>
    </div>

    <div data-form--visibility-target="element" style="display: none;" class="push--top">
      <%= form.fields_for :swag_mailing_address do |mailing_address_form| %>
        <%= render "mailing_addresses/fields", form: mailing_address_form %>
      <% end %>
    </div>
  </div>

  <%= form.button "Submit for Review" %>
<% end %>
