<% if subscriptions.present? %>
  <%= form_with url: user_subscriptions_bulk_path, method: :delete,
    data: {
      controller: "form--required-checkboxes",
      "form--required-checkboxes-require-value": "some"
    } do |form| %>

    <% subscriptions.each do |subscription| %>
      <div class="subscription" style="display: flex; column-gap: var(--spacing-2)">
        <%= check_box_tag "ids[]", subscription.id, false, data: {
          action: "change->form--required-checkboxes#changed",
          "form--required-checkboxes-target": "input"
        }, id: dom_id(subscription) %>
        <%= form.label dom_id(subscription), subscription.location %>
      </div>
    <% end %>

    <div class="mt3">
      <%= form.button "Unsubscribe", type: "submit", class: "btn mr2",
        data: {"form--required-checkboxes-target": "button"}, disabled: true %>
      or
      <%= link_to "unsubscribe from all", unsubscribe_all_user_subscriptions_url %>
    </div>
  <% end %>

<% else %>
  <p>You are not subscribed to any locations.</p>
<% end %>
