<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title).presence&.+(" — ") %> hackathons.hackclub.com</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "https://css.hackclub.com/theme.min.css" %>
  <%= stylesheet_link_tag "https://css.hackclub.com/fonts.min.css" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <script>
    const Hackathons = {
      appsignal: {
        // Frontend API key (intended to be exposed publicly)
        key: "<%= Rails.application.credentials.dig(:appsignal, :frontend_api_key) %>"
      }
    }
  </script>

  <%= javascript_importmap_tags %>

  <% turbo_refreshes_with method: :morph, scroll: :preserve %>

  <%= yield :head %> <%# used by Turbo Drive helpers %>
</head>

<body data-controller="test-readiness">

<%= render "admin/header" %>
<%= render "shared/flash" %>

<main class="container wide <%= yield :container_class %>" style="padding: var(--spacing-4); padding-bottom: var(--spacing-5)">
  <%= yield %>
</main>

<%= render "shared/footer" %>

</body>
</html>
