<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <style>
      /*
        Email styles are automatically inlined by premailer gem
        - https://github.com/fphilipe/premailer-rails
        - https://github.com/premailer/premailer

        For the CSS class names, I'm following the BEM methodology!
        ~ @garyhtou
      */

      html, body {
          padding: 0;
          margin: 0;
          background-color: #ffffff;
          color: #1f2d3d;
          font-family: 'Phantom Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
          font-size: 16px;
      }

      a {
          color: #ec3750;
          text-decoration: none;
      }

      #layout {
          max-width: 800px;
          margin: 0 auto;
      }

      #layout__header {
          border-radius: 0 0 1rem 1rem;
          background-color: #f9fafc;
          padding: 1rem;
          width: 100%;
      }

      #layout__logo {
          height: 2rem;
          margin: 0;
      }

      #layout__title {
          font-size: 1.5rem;
          text-align: right;
          margin: 0;
      }

      #layout__content {
          padding: 1rem;
      }

      #layout__footer {
          font-size: 0.75rem;
      }

      .layout__separator {
          border-top: 1px dashed lightgray;
      }

  </style>
  <title>hackathons.hackclub.com</title>
</head>

<body>
<div id="layout">
  <table id="layout__header">
    <tbody>
    <tr>
      <td>
        <img src="<%= image_url "flag-standalone.png" %>" alt="Hack Club flag" id="layout__logo"/>
      </td>
      <td>
        <h1 id="layout__title">
          <%# This must be a link, otherwise mail services will automatically
              turn it into a link, causing the css red color to NOT apply. %>
          <%= link_to "hackathons.hackclub.com", Hackathons::WEBSITE, style: "color: #ec3750" %>
        </h1>
      </td>
    </tr>
    </tbody>
  </table>

  <main id="layout__content">
    <% yield_with_default_for :greeting do %>
      <p>Hey <%= recipient_name || "there" %>!</p>
    <% end %>

    <%= yield %>

    <% yield_with_default_for :signature do %>
      <p>
        Best,
        <br/>
        Hack Club
      </p>
    <% end %>

    <% yield_with_default_for :fine_print do %>
      <p style="font-size: 0.75rem; font-weight: lighter">
        <%= link_to "hackathons.hackclub.com", Hackathons::WEBSITE %> is
        maintained by <%= link_to "Hack Club", "https://hackclub.com" %> staff.
      </p>
    <% end %>
  </main>

  <div class="layout__separator"></div>

  <footer id="layout__footer">

    <p>
      Excited about hackathons across the globe? Want to list your own?
      Check out our <%= link_to "website", Hackathons::WEBSITE %>!
    </p>

    <% yield_with_default_for :unsubscribe do %>
      <% if @email_preferences_url && @unsubscribe_url %>
        <p>
          Update your <%= link_to "email preferences", @email_preferences_url %> to choose which emails you
          receive, or <%= link_to "unsubscribe", @unsubscribe_url %> from all future emails.
        </p>
      <% end %>
    <% end %>

    <address>
      Hack Club, <%= Hackathons::HACK_CLUB_ADDRESS[:full] %>.
    </address>

  </footer>

</div>
</body>
</html>
